@media (max-width: 1200px ){

}

@media (max-width: 992px ){

}

@media (max-width: 768px ){

}

@media (max-width: 480px ){

    .cart{
        width: 100% !important;
        margin: 10px 4% 4% 4%;
        padding: 10px;
    }

}

@media (max-width: 320px ){

}

@media (min-width: 1170px ){

}

@media (min-width: 992px ){

}

@media (min-width: 768px ){

}

@media (min-width: 480px ){

}

@media (min-width: 320px ){

}
html{
    height: 100% !important;
    width: 100% !important;
}
body{
    height: 100% !important;
    width: 100% !important;
}

.container{
    height: 100% !important;
}

.wrapper{
    padding: 10px;
    width: 50%;
    margin: auto;
}
